# Python
myenv/
__pycache__/
*.pyc
*.pyo

# Environment
.env
.env.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
backend/node_modules/
build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
